@using RipetizioniApp.Helpers
@using RipetizioniApp.ViewModels


<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ripetizioni</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RipetizioniApp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <a href="/">
            <h1>Ripetizioni App</h1>
        </a>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a href="@User.ProfiloURL" class="profilo">
                <h2>@User.Username</h2>
                <img src="/img/user.png" alt="">
            </a>
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>