@page
@model RipetizioniApp.Pages.DocenteHome.AggiungiMateriaModel
@{
}

<div class="form-container">
    <form action="" method="post">
        <h1>Aggiungi materia</h1>
        <p class="errore">@Model.Errore</p>
        <p>Nome: <input type="text" placeholder="Nome" name="Nome" required></p>
        <button>Aggiungi</button>
    </form>
</div>