.utente-banner {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 30px;
    height: 500px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.immagine-profilo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.immagine-profilo-container img {
    object-fit: fill;
    object-position: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
}

.utente-info{
    justify-self: flex-start;
    font-size: 30px;
    font-weight: bold;
}

.salario{
    margin: 20px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
}

.soldi-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.soldi-container button{
    margin-top: 10px;
}

.salario h1{
    flex-grow: 1;
}

.soldi{
    font-size: 30px;
    margin: 0;
}

.dettagli-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.dettagli{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dettagli p {
    font-size: 20px;
}

.dettagli-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dettagli h2{
    font-size: 35px;
}
