*{
  box-sizing: border-box;
  color: white;
}

body, html{
  margin: 0;
  padding: 0;
}

html{
  background-color: #170B1B;
}


#dotnet-compile-error{
  display: none;
}

.form-container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
}

form .errore{
  color: rgb(223, 1, 1);
  margin: 0;
}


select{
  background-color: rgba(255, 255, 255, 0.079);
  font-size: 17px;
  padding: 10px;
  border: none;
}

select option{
  color: black;
}

input{
  font-size: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

button{
  background-color: rgb(9, 90, 188);
  padding: 10px;
  border: none;
  font-size: 16;
  cursor: pointer;
  border-radius: 10px;
}

.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

a{
  text-decoration: none;
}