.barra-ricerca {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 20px;
}

.barra-ricerca input,
.barra-ricerca button {
    font-size: 20px;
}

.lista-docenti {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.docente-container{
    height: 100%;
    width: 100%;
}

.docente {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "immagine generalita criterio"
        "immagine username criterio";

    grid-template-columns: 1fr 3fr 2fr;
    row-gap: 15px;
    column-gap: 15px;
    justify-items: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.072);
    border-radius: 20px;
    padding: 0 20px;
}

.docente-immagine{
    grid-area: immagine;
    width: 100%;
}

.docente * {
    margin: 0;
}

.docente-generalita {
    grid-area: generalita;
    align-self: flex-end;
}

.docente-criterio {
    grid-area: criterio;
    justify-self: flex-end;
}

.docente-username {
    grid-area: username;
    align-self: flex-start;
}